# Superset configuration
SUPERSET_SECRET_KEY=lUSq1M7hUM5xP4v+KCrBu6ZkeNflBSvm9Zsne9EU65tc49J/FlPMtYyJ
SUPERSET_ADMIN_USERNAME=admin
SUPERSET_ADMIN_PASSWORD=admin
SUPERSET_ADMIN_EMAIL=admin@superset.com
SUPERSET_ADMIN_FIRSTNAME=Admin
SUPERSET_ADMIN_LASTNAME=User

# PostgreSQL (metadata database)
POSTGRES_USER=superset
POSTGRES_PASSWORD=superset
POSTGRES_DB=superset

# Redis
REDIS_HOST=redis
REDIS_PORT=6379

# Server
SUPERSET_HOST=10.18.136.123
SUPERSET_PORT=8088
